<% if current_user != @event.user %>
  <div class="panel panel-primary">
    <div class="panel-heading">Attend this event!</div>

    <div class="panel-body">
      <%= render "registrations/form" %>

    </div>
  </div>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>From <%= @event.starts_at%> to <%= @event.ends_at%></p>
    <br />

    <h5>What are we going to do?</h5>
    <p><%= @event.description%></p>
    <br />

    <h5>Additional information:</h5>
    <ul class="list-unstyled">
      <li>Price: €<%= @event.price%></li>
      <li>Max. participants: <%= @event.capacity%></li>
      <li><% if @event.includes_food %>
              <%= "Food included" %>
          <% end %></li>
      <li><% if @event.includes_drinks %>
              <%= "Drinks included" %>
          <% end %></li>
    </ul>
    <br />

    <h5>Photos</h5>
    <% @event.photos.each do |photo| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag photo.image.thumbnail %>
      </div>
    </div>
    <% end %>
    <br />

    <h5>Categories</h5>
    <% @categories.each do |category| %>
      <span class="label label-success"><%= category.name %></span>
    <% end %>

  </div>
</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
